ipython==6.4.0
wheel==0.31.1
mypy==0.620
twine==1.11.0
yapf==0.22.0
pytest==3.6.3
pytest-cov==2.5.1
pytest-django==3.3.3
marshmallow>=3.0.0b8
flake8==3.5.0
codecov==2.0.15
ipdb==0.11
django==2.1
pyjwt==1.6.4
isort==4.3.4
black==18.6.b4

m2r==0.1.15
